.companies{

    &-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 100px 200px 100px 200px;

        @media (max-width: 991px){
            padding: 40px 0px 66px 0px;  
        }
    }

    &-title{
        color: $principal-dark;
        margin-bottom: 65px !important;
        font-size: 36px;

        @media (max-width: 767px){
            margin-bottom: 36px !important;
            font-size: 23px;  
        }
    }

    &-row{
        display: flex;
        justify-content: space-between;

        @media (max-width: 767px){
            display: none;
        }

        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    &-row::-webkit-scrollbar{
        display: none;
    }

    .companies-image{
        width: 141px;
        height: 113;
        padding-right: 40px;
    }

    &-carousel{
        display: none;

        @media (max-width: 767px){
            display: initial;
        }
    }
}