$principal: #034AA6;
$principal-dark:#26354A;
$principal-light:#049DBF;
$secundario: #8C30F5;
$gray-1: #FFC431;
$gray-2: #048ABF;
$gray-3: #002046;
$gray-4: #F7F9FC;



$font-family-base: 'Lato', sans-serif;
$primary: $principal;
$secondary: $secundario;