<section class="business-testimonials bg-secondary">
    <img class="business-testimonials-image-top" src="../assets/Ellipse-1.png" alt="Ellipse 1">
    <img class="business-testimonials-image-bottom" src="../assets/Ellipse-2.png" alt="Ellipse 2">

    <div class="container">
        <div class="business-testimonials-container">
            <h2 class="business-testimonials-title text-white text-center">
                Estos testimonios lo confirman:
            </h2>
            <p class="business-testimonials-p-text text-white text-center fw-light">
                El crecimiento de un equipo se basa en la confianza y el desempeño personal. 
            </p>
        </div>
    </div>
</section>