<section class="post-tips bg-primary">

    <div class="post-tips-over">
        <div class="post-tips-container">
            <h2 class="post-tips-title text-center text-white fw-light">
                El inglés te ayuda en el 
                <span class="fw-bold">crecimiento de tu empresa:</span> 
            </h2>

            <p class="post-tips-p-text text-white text-center fw-light">
                Las compañías están invirtiendo en educación de calidad 
                <span class="fw-bold">para sus equipos, porque entienden la importancia de que aprendan a </span> 
                gestionar clientes hablando inglés con fluidez y confianza.
            </p>

            <p class="post-tips-p-text text-white text-center fw-light">Porque los resultados positivos que puedes obtener son: </p>

            <div class="row w-100 mx-0 post-tips-row">
                <div class="col-3 post-tips-card">
                    <p class="post-tips-p1 mb-0 text-handlee text-center">
                        La posibilidad de expandir y consolidar tus ventas en nuevos países.
                    </p>
                    <img class="mb-2" src="../assets/post-tips-green.png" alt="" />
                </div>
                <div class="col-3 post-tips-card">
                    <p class="post-tips-p2 mb-0 text-handlee text-center">
                        Fortalecer y desarrollar alianzas internacionales.
                    </p>
                    <img class="mb-2" src="../assets/post-tips-pink.png" alt="" />
                </div>
                <div class="col-3 post-tips-card">
                    <p class="post-tips-p3 mb-0 text-handlee text-center">
                        El manejo de clientes de alto valor comercial.
                    </p>
                    <img class="mb-2" src="../assets/post-tips-blue.png" alt="" />
                </div>
                <div class="col-3 post-tips-card">
                    <img class="mb-2" src="../assets/post-tips-orange.png" alt="" />
                    <p class="post-tips-p4 mb-0 text-handlee text-center">
                        Mejorar la capacidad de trabajo cooperativo.
                    </p>
                </div>
                <div class="col-3 post-tips-card">
                    <p class="post-tips-p5 mb-0 text-handlee text-center">
                        Retención del talento humano.
                    </p>
                    <img class="mb-2" src="../assets/post-tips-purple.png" alt="" />
                </div>
                <div class="col-3 post-tips-card">
                    <p class="post-tips-p6 mb-0 text-handlee text-center">
                        Potenciar tu equipo desde el crecimiento integral.
                    </p>
                    <img class="mb-2" src="../assets/post-tips-yellow.png" alt="" />
                </div>
            </div>
        </div>

        <img class="post-tips-rectangle img-fluid" src="../assets/Rectangle Blue.png" alt="">
        <img class="post-tips-rectangle2 img-fluid" src="../assets/Rectangle Blue2.png" alt="">
    </div>

    <img class="post-tips-image img-fluid" src="../assets/rectangle-blue-image.png" alt="Post Tips">
    <img class="post-tips-image2 img-fluid" src="../assets/rectangle-blue-image2.png" alt="Post Tips">
</section>