<section class="business">

    <div class="business-over">
        <div class="business-container">
            <h2 class="business-title text-center">
                ¡Invierte en el 
                <span class="business-highlighted-text text-handlee">crecimiento profesional </span> 
                de tu 
                <span class="business-highlighted-text text-handlee">equipo de trabajo!</span>
            </h2>

            <p class="business-p-text text-center fw-light">
                Es hora de que tus ventas a otros países y el crecimiento de tu equipo de trabajo sean tu prioridad, gracias al dominio del inglés fluido. 
            </p>

            <button class="btn business-button text-white fw-bold text-center w-75 text-inter">
                ¡Quiero potenciar mi empresa con el inglés!
            </button>
        </div>

        <img class="business-rectangle img-fluid" src="../assets/Rectangle White.png" alt="Colleagues">
        <img class="business-rectangle2 img-fluid" src="../assets/Rectangle White2.png" alt="Colleagues">
    </div>

    <img class="business-image img-fluid" src="../assets/colleagues.png" alt="Colleagues">
    <img class="business-image2 img-fluid" src="../assets/colleagues2.png" alt="Colleagues">
</section>