<section class="click-button-bottom">

    <div class="click-button-bottom-over">
        <div class="click-button-bottom-container">
            <h2 class="click-button-bottom-title text-center">
                Ahora que ya ves al inglés como una oportunidad para crecer...
            </h2>

            <p class="click-button-bottom-p-text text-center fw-light">
                Llegó 
                <span class="fw-bold">el momento de que aproveches todos los beneficios que tienes </span>
                con Confident English a la hora de aprender inglés.
            </p>

            <p class="click-button-bottom-p-text text-center fw-bold">
                ¡DALE CLIC AL BOTÓN DE ABAJO!
            </p>

            <button class="btn click-button-bottom-button text-white fw-bold text-center w-100 text-inter">
                ¡Quiero toda la información!
            </button>
        </div>

        <img class="click-button-bottom-rectangle img-fluid" src="../assets/Rectangle White.png" alt="Colleagues">
        <img class="click-button-bottom-rectangle2 img-fluid" src="../assets/Rectangle small white2.png" alt="Colleagues">
    </div>

    <img class="click-button-bottom-image img-fluid" src="../assets/mister.png" alt="">
    <img class="click-button-bottom-image2 img-fluid" src="../assets/mister2.png" alt="Colleagues">
</section>