
<section class="companies bg-white">
    <div class="container">
        <div class="companies-container">
            <h2 class="companies-title text-center lh-base">
                Conoce las marcas que trabajan con nosotros:
            </h2>  
        
            <div class="companies-row">
                {# <img class="companies-image" src="../assets/Logo test 3.png" alt="Logo 1">
                <img class="companies-image" src="../assets/Logo test 1.png" alt="Logo 2">
                <img class="companies-image" src="../assets/Logo test 2.png" alt="Logo 3"> #}
            </div>

            <!--<ul class="companies-carousel">
                <li>
                    <img class="companies-image" src="../assets/Logo test 3.png" alt="Logo 1">
                </li>
                <li>
                    <img class="companies-image" src="../assets/Logo test 1.png" alt="Logo 2">
                </li>
                <li>
                    <img class="companies-image" src="../assets/Logo test 2.png" alt="Logo 3">
                </li>
            </ul>-->
        </div>
    </div> 
</section>