<section class="decision bg-primary">
    <div class="container">
        <div class="decision-container">
            <h2 class="decision-title text-white text-center fw-light">
                Tomé la decisión de aprender inglés porque 
                <span class="fw-bold">mi futuro profesional es mi prioridad. </span> 
            </h2>
            <button class="btn decision-button fw-bold text-center text-inter">
                ¡Quiero diseñar mi plan junto a un especialista!
            </button>
        </div>
    </div>
</section>