<section class="dropdowns bg-primary">
    <div class="container">
        <div class="dropdowns-container">

            <h2 class="dropdowns-title text-white text-center fw-light">
                Y si tu equipo crece, tu empresa:
            </h2>


            <ul class="dropdowns-ul">
                <li>
                    <img width="70" height="70" class="mb-2" src="../assets/target.png" alt="" />
                    Encontrar치 nuevas oportunidades de mercado
                </li>
                <li>
                    <img width="70" height="70" class="mb-2" src="../assets/star student.png" alt="" />
                    Cumplir치 sus objetivos
                </li>
                <li>
                    <img width="70" height="70" class="mb-2" src="../assets/discussion.png" alt="" />
                    Consolidar치 su cultura corporativa
                </li>
                <li>
                    <img width="70" height="70" class="mb-2" src="../assets/graph.png" alt="" />
                    Aumentar치 sus ingresos
                </li>
            </ul>

        </div>
    </div>
</section>