<section class="drop position-relative">
    <div class="container drop-container">
      <div class="row mx-0 drop-row">
        <div class="col-12 col-lg-8 bg-white drop-card">
            <h5 class="drop-title fw-light">El propósito que nos mueve:</h5>
              <p class="drop-p-text text-center">
                Hacer realidad tu sueño de hablar inglés fluido y potencializando la confianza en ti.
            </p>
            <button class="btn drop-button fw-bold text-center text-inter w-75">
                ¡Quiero cumplir mi sueño de hablar inglés!
            </button>
        </div>
      </div>
    </div>
  </section>
  