<header class="header-main">
  <div class="bottom-header">
    <nav class="navbar navbar-expand">
      <div class="container py-3">

        <a class="navbar-brand" href="#">
          <img class="header-brand" src="../assets/logo-confident-english.png" alt="Logo">
        </a>
          

        <div class="row w-50 mx-0">
          <ul class="navbar-nav d-none d-md-flex justify-content-center">
            <li id="index" class="header-item header-item-inactive ts-12">
              <a class="text-decoration-none" href="index.html">
                <span>Inicio</span>
              </a>
            </li>
            
            <li id="empresas" class="header-item header-item-inactive ts-12">
              <a class="text-decoration-none" href="empresas.html">
                <span>Empresas</span>
              </a>
            </li>
            
            <li id="directivos" class="header-item header-item-inactive ts-12">
              <a class="text-decoration-none" href="directivos.html">
                Directivos
              </a>
            </li>

            <li id="nosotros" class="header-item header-item-inactive ts-12">
              <a class="text-decoration-none" href="nosotros.html">
                Nosotros
              </a>
            </li>
          </ul>
        </div>        
          
          
        <button class="btn btn-primary text-white text-inter login-button d-none d-md-flex" type="submit">
          ¡Deseo información!
        </button>

      </div>
    </nav>
  </div>
</header>