<section class="history bg-primary">
    <div class="container">
        <div class="history-container">
            <h2 class="history-title text-white text-center fw-bold">
                La historia de Confident English
            </h2>
            <p class="history-p-text1 text-white text-center fw-light">
                Los comienzos definen la trama de cada historia.
            </p>
            <p class="history-p-text2 text-white text-center fw-light"> 
                Y son 
                <span class="fw-bold">nuestros primeros pasos llenos de pasión, disciplina, compromiso y un deseo incansable de ayudar a las personas </span> 
                a lograr su sueño de hablar inglés fluido y con confianza, los que definen los pilares de
                <span class="fw-bold">esta compañía que está decidida a  escribir una historia distinta, genuina y con un sentido de crecimiento constante en el emprendimiento mundial.</span> 
            </p>

            <button class="btn history-button text-white fw-bold text-center text-inter">
                ¡Quiero leer más!
            </button>
        </div>
    </div>
</section>