<section class="home-cards">
    <div class="container">
        <div class="home-cards-container">

            <h2 class="home-cards-title text-center fw-light">Porque  
                <span class="fw-bold">para hablar fluido, necesitas...</span> 
            </h2>

            <div class="row w-100 mx-0 home-cards-row">
                <div class="col-12 col-lg-3 bg-white home-cards-card">
                    <img width="48" height="48" class="mb-2" src="../assets/icon.png" alt="" />
                    <p class="text-center m-0">
                        <span class="fw-bold">Entender conversaciones </span>
                        profesionales 
                        <span class="fw-bold">con nativos</span>
                    </p>
                </div>
                <div class="col-12 col-lg-3 bg-white home-cards-card">
                    <img width="24" height="48" class="mb-2" src="../assets/icon (1).png" alt="" />
                    <p class="text-center m-0">
                        <span class="fw-bold">Hablar</span> 
                        fluido y 
                        <span class="fw-bold">sin miedo a equivocarte</span>
                    </p>
                </div>
                <div class="col-12 col-lg-3 bg-white home-cards-card">
                    <img width="40" height="48" class="mb-2" src="../assets/icon (2).png" alt="" />
                    <p class="text-center m-0">
                        El acompañamiento de
                        <span class="fw-bold">un mentor que te guíe</span> 
                        en tu proceso
                    </p>
                </div>
                <div class="col-12 col-lg-3 bg-white home-cards-card">
                    <img width="40" height="48" class="mb-2" src="../assets/icon (3).png" alt="" />
                    <p class="text-center m-0">
                        <span class="fw-bold">Definir tu objetivo</span> 
                        específico
                    </p>
                </div>
                <div class="col-12 col-lg-3 bg-white home-cards-card">
                    <img width="33" height="48" class="mb-2" src="../assets/icon (4).png" alt="" />
                    <p class="text-center m-0">
                        <span class="fw-bold">Tener un plan</span> 
                        de acción
                    </p>
                </div>
                <div class="col-12 col-lg-3 bg-white home-cards-card">
                    <img width="41" height="48" class="mb-2" src="../assets/icon (5).png" alt="" />
                    <p class="text-center m-0">
                        <span class="fw-bold">Disfrutar</span> 
                        y garantizar 
                        <span class="fw-bold">tu aprendizaje</span> 
                    </p>
                </div>
            </div>

            <ul class="home-cards-carousel">
                <li>
                    <p class="m-0">
                        <span class="fw-bold">Entender conversaciones </span>
                        profesionales 
                        <span class="fw-bold">con nativos</span>
                    </p>
                </li>
                <li>
                    <p class="m-0">
                        <span class="fw-bold">Hablar</span> 
                        fluido y 
                        <span class="fw-bold">sin miedo a equivocarte</span>
                    </p>
                </li>
                <li>
                    <p class="m-0">
                        El acompañamiento de
                        <span class="fw-bold">un mentor que te guíe</span> 
                        en tu proceso
                    </p>
                </li>
                <li>
                    <p class="m-0">
                        <span class="fw-bold">Definir tu objetivo</span> 
                        específico
                    </p>
                </li>
                <li>
                    <p class="m-0">
                        <span class="fw-bold">Tener un plan</span> 
                        de acción
                    </p>
                </li>
                <li>
                    <p class="m-0">
                        <span class="fw-bold">Disfrutar</span> 
                        y garantizar 
                        <span class="fw-bold">tu aprendizaje</span> 
                    </p>
                </li>
            </ul>

        </div>
    </div>
</section>