<section class="home-passion bg-white">
    <div class="container">
        <div class="home-passion-container">
            <h2 class="home-passion-title text-center fw-light"> 
                Nos apasiona ayudar en el crecimiento de:
            </h2>

            <div class="row w-100 mx-0 home-passion-row">
                <div class="col-12 col-lg-6">
                    <img class="img-fluid home-passion-image" src="../assets/home-people.png">
                </div>

                <div class="col-12 col-lg-6 home-passion-text-column">
                    <h5 class="home-passion-subtitle text-handlee">Empresas:</h5>
                    <p>
                        <span class="fw-bold">Aumenta la productividad de tu equipo de trabajo </span>
                        gracias al desarrollo de nuevas habilidades en las personas que lo conforman, tales como: Mejorar la fluidez 
                        <span class="fw-bold">para hablar inglés con tus clientes, </span>
                        y comunicarse con confianza en el idioma más importante para los negocios: EL INGLÉS. 
                    </p>
                    <button class="btn home-passion-button text-white fw-bold text-center w-100 text-inter">
                        ¡Quiero saber sobre el Plan Empresarial!
                    </button>
                </div>
            </div>

            <div class="row w-100 mx-0">
                <div class="col-12 col-lg-6 home-passion-text-column align-items-end">
                    <h5 class="home-passion-subtitle text-handlee">Directivos:</h5>
                    <p>
                        <span class="fw-bold">Gana credibilidad en los negocios </span>
                        con el manejo fluido del inglés, 
                        <span class="fw-bold">expresa tus ideas con claridad  </span>
                        y 
                        <span class="fw-bold">ten la confianza de comunicarte en reuniones importantes </span>
                        sosteniendo conversaciones naturales.
                    </p>
                    <button class="btn home-passion-button text-white fw-bold text-center w-100 text-inter">
                        ¡Quiero saber sobre el Plan Personalizado!
                    </button>
                </div>

                <div class="col-12 col-lg-6">
                    <img class="img-fluid home-passion-image" src="../assets/home-manager.png">
                </div>
            </div>
        </div>
    </div>
</section>