<section class="home-question bg-primary">
    <div class="container">
        <div class="home-question-container">
            <h2 class="home-question-title text-white text-center fw-light">
                Ahora que lo sabes ¿De verdad 
                <span class="fw-bold">quieres aprender a hablar inglés </span> 
                fluido y con confianza?
            </h2>
            <button class="btn home-question-button fw-bold text-center text-inter">
                ¡SÍ! Quiero aprender inglés
            </button>
        </div>
    </div>
</section>