<section class="testimonial bg-secondary">
    <img class="testimonial-image-top" src="../assets/Ellipse-1.png" alt="Ellipse 1">
    <img class="testimonial-image-bottom" src="../assets/Ellipse-2.png" alt="Ellipse 2">

    <div class="container">
        <div class="testimonial-container">
            <h2 class="testimonial-title text-white text-center">
                Así cambió la vida de nuestros clientes: 
            </h2>
        </div>
    </div>
</section>