<section class="home-carousel bg-primary">
    <div class="container">
        <div class="carousel-container">
            <h2 class="carousel-title text-white text-center fw-light">¿Te sientes incompetente 
                <span class="carousel-highlighted-text text-handlee">por no expresarte</span> 
                de manera profesional y fluida  
                <span class="carousel-highlighted-text text-handlee">en inglés</span>
                ?
            </h2>
            <div class="bg-white carousel-center-text fw-bold text-center">
                ¿Tú también tuviste alguna de estas malas experiencias?
            </div>
            <p class="carousel-p-text text-white text-center">
                <span class="fw-bold">¡TE ENTENDEMOS!</span> 
                No es fácil sentir que tú eres el problema, cuando te esforzaste por hablar inglés. Por eso, 
                <span class="fw-bold">la solución está en LA MANERA EN LA QUE LOGRARÁS TU OBJETIVO.</span> 
            </p>
        </div>
    </div>
</section>