<section class="managers">

    <div class="managers-over">
        <div class="managers-container">
            <h2 class="managers-title text-center">
                Gana 
                <span class="managers-highlighted-text text-handlee">credibilidad profesional </span> 
                en reuniones y negociaciones importantes.
            </h2>

            <p class="managers-p-text text-center fw-light">
                <span class="fw-bold">Siente la seguridad de comunicar tus ideas </span>
                y haz que te comprendan 
                <span class="fw-bold">sin pausas incómodas; </span> 
                entiende conversaciones de negocios y 
                <span class="fw-bold">convierte en inglés en tu ventaja competitiva. </span> 
            </p>

            <button class="btn managers-button text-white fw-bold text-center w-100 text-inter">
                ¡Quiero aprender inglés!
            </button>
        </div>

        <img class="managers-rectangle img-fluid" src="../assets/Rectangle White.png" alt="Colleagues">
        <img class="managers-rectangle2 img-fluid" src="../assets/Rectangle White2.png" alt="Colleagues">
    </div>

    <img class="managers-image img-fluid" src="../assets/boss.png" alt="Managers">
    <img class="managers-image2 img-fluid" src="../assets/colleagues2.png" alt="Colleagues">
</section>