<section class="managers-post-tips bg-primary">

    <div class="managers-post-tips-over">
        <div class="container">
            <div class="managers-post-tips-container">
                <h2 class="managers-post-tips-title text-center text-white fw-bold">
                    ¡Haz negocios hablando inglés!
                </h2>
    
                <p class="managers-post-tips-p-text text-white text-center fw-light">
                    <span class="fw-bold">Entendemos cómo te sientes </span>
                    cuando te enfrentas a hablar inglés como experto.
                </p>
    
                <div class="row w-100 mx-0 managers-post-tips-row">
                    <div class="col-3 managers-post-tips-card">
                        <p class="managers-post-tips-p1 mb-0 text-handlee text-center">
                            ¿El miedo te paraliza cuando hablas en inglés con un nativo?
                        </p>
                        <img class="mb-2" src="../assets/post-tips-green.png" alt="" />
                    </div>
                    <div class="col-3 managers-post-tips-card">
                        <p class="managers-post-tips-p2 mb-0 text-handlee text-center">
                            ¿Te avergüenza tener pausas incómodas por falta de vocabulario relevante?
                        </p>
                        <img class="mb-2" src="../assets/post-tips-pink.png" alt="" />
                    </div>
                    <div class="col-3 managers-post-tips-card">
                        <p class="managers-post-tips-p3 mb-0 text-handlee text-center">
                            ¿Te piden que repitas lo que dijiste y no sabes si pronuncias correctamente?
                        </p>
                        <img class="mb-2" src="../assets/post-tips-blue.png" alt="" />
                    </div>
                    <div class="col-3 managers-post-tips-card">
                        <img class="mb-2" src="../assets/post-tips-orange.png" alt="" />
                        <p class="managers-post-tips-p4 mb-0 text-handlee text-center">
                            ¿Te sientes incompetente para expresar tus ideas importantes?
                        </p>
                    </div>
                    <div class="col-3 managers-post-tips-card">
                        <p class="managers-post-tips-p5 mb-0 text-handlee text-center">
                            ¿Te da pánico que no entiendan lo que dices?
                        </p>
                        <img class="mb-2" src="../assets/post-tips-purple.png" alt="" />
                    </div>
                    <div class="col-3 managers-post-tips-card">
                        <p class="managers-post-tips-p6 mb-0 text-handlee text-center">
                            ¿No hablas fluido porque traduces en tu cabeza y pierdes el hilo de la conversación?
                        </p>
                        <img class="mb-2" src="../assets/post-tips-yellow.png" alt="" />
                    </div>
                </div>

                <p class="managers-post-tips-p-subtitle text-white text-center fw-bold">
                    Si tú te identificas con estos problemas: 
                </p>

                <p class="managers-post-tips-p-text text-white text-center fw-light">
                    <span class="fw-bold">Necesitas de un especialista en andragogía </span>
                    (pedagogía para adultos), 
                    <span class="fw-bold">que te ayude a diseñar un programa personalizado </span>
                    que entienda tus necesidades y lograr tu objetivo.
                </p>

                <button class="btn managers-post-tips-button fw-bold text-center text-inter">
                    ¡Quiero hablar con un especialista!
                </button>
            </div>
        </div>

        <img class="managers-post-tips-rectangle img-fluid" src="../assets/Rectangle invested.png" alt="">
        <img class="managers-post-tips-rectangle2 img-fluid" src="../assets/Rectangle Blue2.png" alt="">
    </div>

    <div class="row mx-0">
        <div class="col-lg-6 p-0">
        </div>
        <div class="col-lg-6 p-0">
            <img class="managers-post-tips-image img-fluid" src="../assets/teacher.png" alt="Post Tips">  
        </div>
    </div>
    <img class="managers-post-tips-image2 img-fluid" src="../assets/teacher2.png" alt="Post Tips">
</section>