<section class="managers-testimonials bg-secondary">
    <img class="managers-testimonials-image-top" src="../assets/Ellipse-1.png" alt="Ellipse 1">
    <img class="managers-testimonials-image-bottom" src="../assets/Ellipse-2.png" alt="Ellipse 2">

    <div class="container">
        <div class="managers-testimonials-container">
            <h2 class="managers-testimonials-title text-white text-center">
                Esto dicen los directivos que ya aprendieron con Confident:
            </h2>
        </div>
    </div>
</section>