<section class="more-information">
    <div class="container">
        <div class="more-information-container">
            <h2 class="more-information-title text-center fw-light">
                Quiero que mi equipo desarrolle su 
                <span class="fw-bold">máximo potencial </span> 
                y hablen inglés con 
                <span class="fw-bold">fluidez y confianza.</span>
            </h2>
            <button class="btn more-information-button text-white fw-bold text-center text-inter">
                ¡Necesito más información!
            </button>
        </div>
    </div>
</section>