<section class="opinions">
    <div class="container">
        <div class="opinions-container">

            <h2 class="opinions-title text-center fw-light">
                Esto opinan los directivos de las empresas con las que trabajamos:
            </h2>

        </div>
    </div>
</section>