<section class="reasons bg-white">
    <div class="container">
        <div class="reasons-container">
            <h2 class="reasons-title text-center fw-light"> 
                Las razones más comunes por las que 
                <span>NO </span>
                logras aprender inglés:
            </h2>

            <div class="row w-100 mx-0 reasons-row">
                <div class="col-12 col-lg-6">
                    <img class="img-fluid reasons-image" src="../assets/frustrated.png">
                </div>

                <div class="col-12 col-lg-6 reasons-text-column">
                    <ul class="m-0">
                        <li>
                            <p>
                                <span class="fw-bold">Las academias tradicionales </span>
                                tienen métodos obsoletos porque 
                                <span class="fw-bold">no entienden tu manera de aprender.</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="fw-bold">Pierdes interés cuando </span>
                                notas que tu aprendizaje 
                                <span class="fw-bold">se basa en metodologías irrelevantes a tus necesidades.</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="fw-bold">Te falta un plan </span>
                                estructurado 
                                <span class="fw-bold">y un acompañamiento personalizado </span>
                                hasta lograr tu objetivo. 
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="fw-bold">No tienes oportunidad de hablar </span>
                                durante las clases aburridas y tradicional de inglés.
                            </p>
                        </li>
                        <li>
                            <p>
                                No habías encontrado 
                                <span class="fw-bold">una empresa con testimonios reales </span>
                                de personas que 
                                <span class="fw-bold">SÍ APRENDEN </span>
                                a hablar inglés.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>