<section class="step-more-important bg-primary">

    <div class="step-more-important-over">
        <div class="step-more-important-container">
            <h2 class="step-more-important-title text-center text-white fw-light">
                El paso más importante para ti es que…
            </h2>

            <p class="step-more-important-p-text text-white text-center fw-light">
                <span class="fw-bold">Desarrolles un equipo de alto nivel </span>
                que te ayude a cumplir con tus metas de crecimiento y 
                <span class="fw-bold">con el inglés ¡SÍ ES POSIBLE!</span>
            </p>

            <button class="btn step-more-important-button text-white fw-bold text-center w-100 text-inter">
                ¡Quiero que mi equipo hable inglés fluido!
            </button>
        </div>

        <img class="step-more-important-rectangle img-fluid" src="../assets/Rectangle Blue3.png" alt="">
    </div>

    <img class="step-more-important-image img-fluid" src="../assets/boy.png" alt="">
</section>