<section class="steps bg-white">
    <div class="container">
        <div class="steps-container">

            <h2 class="steps-title text-center fw-light">
                Así trabajaremos contigo...
            </h2>

            <div class="row mx-0 w-100">
                <!--<div class="col-12 col-lg-7 steps-column">
                    <img src="../assets/Paso 1.png" alt="" />
                </div> -->
                <div class="col-12 col-lg-7 steps-card-left">
                    <div class="row">
                        <div class="col-8 steps-content-column-left">
                            <img src="../assets/icon (3).png" alt="" />
                            <p class="text-center m-0 mt-2">
                                Tenemos una reunión para entender tus necesidades como empresa
                            </p>
                        </div>
                        <div class="col-4 p-0 d-flex justify-content-end align-items-center position-relative">
                            <span class="steps-number-left fw-bold">1</span>
                            <img class="steps-circle-image" src="../assets/Circle.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 steps-hide-column">
                </div>

                <div class="col-12 steps-line-container">
                    <img width="8" height="30" src="../assets/Line.png" alt="" />
                </div>

                <div class="col-12 col-lg-5 steps-hide-column">
                </div>
                <div class="col-12 col-lg-7 steps-card-right">
                    <div class="row">
                        <div class="col-4 p-0 d-flex justify-content-start align-items-center position-relative">
                            <span class="steps-number-right fw-bold">2</span>
                            <img class="steps-image-1" class="steps-circle-image" src="../assets/Circle.png" alt="" />
                        </div>
                        <div class="col-8 steps-content-column-right">
                            <img class="steps-image-2" src="../assets/icon (7).png" alt="" />
                            <p class="text-center m-0 mt-2">
                                Te presentamos los factores que van a garantizar el éxito del objetivo que se defina
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 steps-line-container">
                    <img width="8" height="30" src="../assets/Line.png" alt="" />
                </div>

                <div class="col-12 col-lg-7 steps-card-left">
                    <div class="row">
                        <div class="col-8 steps-content-column-left">
                            <img src="../assets/icon (1).png" alt="" />
                            <p class="text-center m-0 mt-2">
                                Analizamos el nivel de fluidez de tu equipo
                            </p>
                        </div>
                        <div class="col-4 p-0 d-flex justify-content-end align-items-center position-relative">
                            <span class="steps-number-left fw-bold">3</span>
                            <img class="steps-circle-image" src="../assets/Circle.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 steps-hide-column">
                </div>

                <div class="col-12 steps-line-container">
                    <img width="8" height="30" src="../assets/Line.png" alt="" />
                </div>

                <div class="col-12 col-lg-5 steps-hide-column">
                </div>
                <div class="col-12 col-lg-7 steps-card-right">
                    <div class="row">
                        <div class="col-4 p-0 d-flex justify-content-start align-items-center position-relative">
                            <span class="steps-number-right fw-bold">4</span>
                            <img class="steps-image-1" class="steps-circle-image" src="../assets/Circle.png" alt="" />
                        </div>
                        <div class="col-8 steps-content-column-right">
                            <img class="steps-image-2" src="../assets/icon (4).png" alt="" />
                            <p class="text-center m-0 mt-2">
                                Definimos el plan de acción con metas específicas y medibles a partir de las inteligencias múltiples de tu equipo
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 steps-line-container">
                    <img width="8" height="30" src="../assets/Line.png" alt="" />
                </div>

                <div class="col-12 col-lg-7 steps-card-left">
                    <div class="row">
                        <div class="col-8 steps-content-column-left">
                            <img src="../assets/icon (8).png" alt="" />
                            <p class="text-center m-0 mt-2">
                                Entregamos los materiales y recursos que necesitan para el proceso de aprendizaje
                            </p>
                        </div>
                        <div class="col-4 p-0 d-flex justify-content-end align-items-center position-relative">
                            <span class="steps-number-left fw-bold">5</span>
                            <img class="steps-circle-image" src="../assets/Circle.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 steps-hide-column">
                </div>

                <div class="col-12 steps-line-container">
                    <img width="8" height="30" src="../assets/Line.png" alt="" />
                </div>

                <div class="col-12 col-lg-5 steps-hide-column">
                </div>
                <div class="col-12 col-lg-7 steps-card-right">
                    <div class="row">
                        <div class="col-4 p-0 d-flex justify-content-start align-items-center position-relative">
                            <span class="steps-number-right fw-bold">6</span>
                            <img class="steps-image-1" class="steps-circle-image" src="../assets/Circle.png" alt="" />
                        </div>
                        <div class="col-8 steps-content-column-right">
                            <img class="steps-image-2" src="../assets/icon (9).png" alt="" />
                            <p class="text-center m-0 mt-2">
                                Tendremos sesiones semanales de fluidez enfocadas en el objetivo
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 steps-line-container">
                    <img width="8" height="30" src="../assets/Line.png" alt="" />
                </div>

                <div class="col-12 col-lg-7 steps-card-left">
                    <div class="row">
                        <div class="col-8 steps-content-column-left">
                            <img src="../assets/icon (10).png" alt="" />
                            <p class="text-center m-0 mt-2">
                                Medimos periódicamente el progreso del equipo en la fluidez verbal a través de proyectos interactivos
                            </p>
                        </div>
                        <div class="col-4 p-0 d-flex justify-content-end align-items-center position-relative">
                            <span class="steps-number-left fw-bold">7</span>
                            <img class="steps-circle-image" src="../assets/Circle.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 steps-hide-column">
                </div>

                <div class="col-12 steps-line-container">
                    <img width="8" height="30" src="../assets/Line.png" alt="" />
                </div>

                <div class="col-12 col-lg-5 steps-hide-column">
                </div>
                <div class="col-12 col-lg-7 steps-card-right">
                    <div class="row">
                        <div class="col-4 p-0 d-flex justify-content-start align-items-center position-relative">
                            <span class="steps-number-right fw-bold">8</span>
                            <img class="steps-image-1" class="steps-circle-image" src="../assets/Circle.png" alt="" />
                        </div>
                        <div class="col-8 steps-content-column-right">
                            <img class="steps-image-2" src="../assets/icon (11).png" alt="" />
                            <p class="text-center m-0 mt-2">
                                Tenemos sesiones de mentoría para revisar y optimizar el plan de acción
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 steps-line-container">
                    <img width="8" height="30" src="../assets/Line.png" alt="" />
                </div>

                <div class="col-12 col-lg-7 steps-card-left">
                    <div class="row">
                        <div class="col-8 steps-content-column-left">
                            <img src="../assets/icon (12).png" alt="" />
                            <p class="text-center m-0 mt-2">
                                Presentamos de forma cualitativa y cuantitativa el progreso de tu equipo
                            </p>
                        </div>
                        <div class="col-4 p-0 d-flex justify-content-end align-items-center position-relative">
                            <span class="steps-number-left fw-bold">9</span>
                            <img class="steps-circle-image" src="../assets/Circle.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 steps-hide-column">
                </div>
            </div>

            <button class="btn steps-button text-white fw-bold text-center text-inter">
                ¡Quiero conocer el Plan Empresarial!
            </button>

        </div>
    </div>
</section>