<section class="team">
    <div class="container">
        <div class="team-container">

            <h2 class="team-title text-center fw-light">
                En equipo somos más grandes.
            </h2>

            <p class="team-p-text text-center">
                Esto es lo que significa Confident English para nosotros:
            </p>

            <div class="row w-100 mx-0 team-row">
                <div class="col-12 bg-white team-card">
                    <div class="row mx-0">
                        <div class="col-12 col-lg-4 d-flex team-image-column justify-content-center align-items-center">
                            <img width="145" height="145" class="mb-2 rounded-circle" src="../assets/avatar_9.jpg" alt="" />
                            {# <h5 class="text-center">
                                Ivan O’Shanahan Valentine
                            </h5>
                            <p class="text-center m-0">
                                Co Fundador y CEO
                            </p> #}
                        </div>
                        <div class="col-12 col-lg-8 d-flex justify-content-center align-items-center">
                            <p class="text-center m-0 fw-light">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 bg-white team-card">
                    <div class="row mx-0">
                        <div class="col-12 col-lg-4 team-image-column team-show-column justify-content-center align-items-center">
                            <img width="145" height="145" class="mb-2 rounded-circle" src="../assets/avatar_14.jpg" alt="" />
                            {# <h5 class="text-center">
                                Juan David Restrepo
                            </h5>
                            <p class="text-center m-0">
                                Co Fundador y CFO
                            </p> #}
                        </div>

                        <div class="col-12 col-lg-8 d-flex justify-content-center align-items-center">
                            <p class="text-center m-0 fw-light">
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Viverra nostra egestas purus eleifend maecenas id sodales. Faucibus dictumst malesuada curae taciti inceptos commodo. Non etiam maximus ipsum fames lacinia turpis ex volutpat? Ante aenean mus viverra purus phasellus montes non netus. Tellus elementum tincidunt ipsum arcu inceptos lacus condimentum. Vel tellus elit placerat metus ut nam. Finibus penatibus lorem potenti suspendisse duis elit magna nisl litora.
                            </p>
                        </div>

                        <div class="col-12 col-lg-4 team-image-column team-hide-column justify-content-center align-items-center">
                            <img width="145" height="145" class="mb-2 rounded-circle" src="../assets/avatar_14.jpg" alt="" />
                            {# <h5 class="text-center">
                                Juan David Restrepo
                            </h5>
                            <p class="text-center m-0">
                                Co Fundador y CFO
                            </p> #}
                        </div>
                    </div>
                </div>
                <div class="col-12 bg-white team-card">
                    <div class="row mx-0">
                        <div class="col-12 col-lg-4 d-flex team-image-column justify-content-center align-items-center">
                            <img width="145" height="145" class="mb-2 rounded-circle" src="../assets/avatar_15.jpg" alt="" />
                            {# <h5 class="text-center">
                                Sol Montoya
                            </h5>
                            <p class="text-center m-0">
                                Directora de Recursos Humanos
                            </p> #}
                        </div>
                        <div class="col-12 col-lg-8 d-flex justify-content-center align-items-center">
                            <p class="text-center m-0 fw-light">
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Pharetra lorem vestibulum id viverra magna ut, efficitur sollicitudin. Ligula donec viverra molestie iaculis litora sapien congue sem. Tristique ornare himenaeos sit scelerisque rutrum. Laoreet laoreet felis, nostra curabitur metus fusce etiam. Libero urna potenti ad iaculis tellus aliquam diam himenaeos accumsan. Arcu elit taciti nulla metus augue; accumsan conubia. Consequat elementum mauris quis gravida montes; donec duis a.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>