<section class="thought bg-primary">

    <div class="thought-over">
        <div class="container">
            <div class="thought-container">
                <h2 class="thought-title text-center text-white fw-light">
                    “Hablar inglés es la oportunidad de demostrarte a ti mismo que 
                    <span class="fw-bold">
                    tus sueños son más grandes que tus excusas”.
                    </span>
                </h2>

                <button class="btn thought-button text-white fw-bold text-center text-inter">
                    ¡Quiero hablar inglés!
                </button>
            </div>
        </div>

        <img class="thought-rectangle img-fluid" src="../assets/Rectangle invested2.png" alt="">
    </div>

    <div class="row mx-0">
        <div class="col-md-6 p-0">
        </div>
        <div class="col-md-6 p-0">
            <img class="thought-image img-fluid" src="../assets/girl.png" alt="Post Tips">  
        </div>
    </div>
</section>