<section class="values bg-primary">
    <div class="container">
        <div class="values-container">

            <h2 class="values-title text-white text-center fw-light">
                Los valores con los que trabajamos cada día.
            </h2>


            <ul class="values-ul">
                <li>
                    <img width="70" height="70" class="mb-2" src="../assets/target.png" alt="" />
                    Innovación
                </li>
                <li>
                    <img width="70" height="70" class="mb-2" src="../assets/star student.png" alt="" />
                    Integridad
                </li>
                <li>
                    <img width="70" height="70" class="mb-2" src="../assets/discussion.png" alt="" />
                    Ambición
                </li>
                <li>
                    <img width="70" height="70" class="mb-2" src="../assets/graph.png" alt="" />
                    Pasión
                </li>
                <li>
                    <img width="70" height="70" class="mb-2" src="../assets/graph.png" alt="" />
                    Empatía
                </li>
                <li>
                    <img width="70" height="70" class="mb-2" src="../assets/graph.png" alt="" />
                    Responsabilidad
                </li>
            </ul>

        </div>
    </div>
</section>